body {
    background-color: rgba(173, 216, 230, 0.7);
    background-image: url("/img/silvercar-jae-park-right.jpg");
    background-size: cover;
    font-family: 'Rubik', sans-serif;
}

#card-container {
    height: 300px;
}

.create-bg {
    background-color: rgba(41, 43, 44, 0.5);
}