body {
    background-color: rgba(173, 216, 230, 0.7);
    background-image: url("/img/silvercar-jae-park-right.jpg");
    background-size: cover;
    font-family: 'Rubik', sans-serif;
}

#card-container {
    height: 300px;
}

.create-bg {
    background-color: rgba(41, 43, 44, 0.5);
}

.card2:hover {
    transform: scale(1.1);
    transition-duration: .3s;
}

a {
    text-decoration: none !important;
}

.trash-color {
    background-color: #9f1a27;
}