body {
    background-color: rgba(173, 216, 230, 0.7);
    background-image: url("/img/silvercar-jae-park-right.jpg");
    background-size: cover;
    font-family: 'Rubik', sans-serif;
}

/*a {*/
/*    text-decoration: none;*/
/*}*/

#card-container {
    height: 300px;
}

